body {background-color:white; 
margin:3em;

}

p {display:block;}

h1 {display:block;
font-weight:bold;
font-size:large;
color:fuchsia;
}

p.navigation {
display:block;
font-weight:bold;
}

page-title{
    padding: 40px 0 8px;
    max-width: 640px;
}

content{
    max-width: 640px; /* keeps line length readable/wraps text */
    padding-bottom:: 64px
}

content section{
    margin-bottom: 40px
}

page-title h2{
    font-family: var(--serif);
    font-weight: 500;
    font-size: 32px;
    color: var(--ink);
}
